<div appScroll class="contenedor condicional">
    <div class="titles">
        <div class="title-screen left-fade-in">
            <h1>Objetivo</h1>
            <h2>Introducir los fundamentos</h2>
        </div>
        <div class="title-back right-fade-in">
            <h1>&nbsp;</h1>
            <h2>&nbsp;</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            &nbsp;
        </div>
        <div class="col-33">
            <div class="card-100 fade-uno">
                <p><b>Evolución y cultura empresarial enfocada al cliente</b>, considerando la misión, visión, principios y valores de las organizaciones en orientarse al cliente y el impacto</p>
                <button class="outline round interm" (click)="showPic()">+</button>
            </div>
        </div>
        <div class="col-50">
            <img #pic class="responsive hidden" src="assets/diapo2.png" alt="">
        </div>
    </div>
</div>