<footer>
    <button class="outline" (click)="exit()">Salir</button>
    <div *ngIf="pantallaIndex > 0">
        <button *ngIf="pantallaIndex > 0" (click)="prevPantalla()">
            Anterior
        </button>
        <span id="counter"> {{pantallaIndex}} / {{total}}</span>
        <button *ngIf="pantallaIndex < total && showNext" (click)="nextPantalla()">Siguiente</button>
    </div>
    <div *ngIf="pantallaIndex === 0">
        <button (click)="nextPantalla()">Comenzar</button>
    </div>
</footer>