<div appScroll class="contenedor condicional">
    <div class="titles">
        <div class="title-screen left-fade-in">
            <h1>Lorem</h1>
            <h2>ipsum</h2>
        </div>
        <div class="title-back right-fade-in">
            <h1>&nbsp;</h1>
            <h2>&nbsp;</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info10" class="masInfo">
                    <p (click)="acordeon('#info10');">
                        <span>Lorem</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa beatae harum dicta doloremque ab voluptate, ex adipisci ut voluptas nulla eius omnis id explicabo minima facere quisquam deserunt autem labore. Consequatur, veniam eaque? Minima eveniet ullam nostrum laudantium harum voluptates!
                        </p>
                    </div>
                </div>
                <div id="info11" class="masInfo">
                    <p (click)="acordeon('#info11');">
                        <span>Ipsum</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content" >
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nesciunt.</p>
                        <ul>
                            <li>Lorem</li>
                            <li>Ipsum</li>
                            <li>Dolor</li>
                        </ul>
                    </div>
                </div>					
                <div id="info12" class="masInfo">
                    <p (click)="acordeon('#info12');">
                        <span>Sit amet</span>
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content" >
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti repellat cupiditate doloremque exercitationem aspernatur quos, quia doloribus quisquam tempora corporis!
                        </p>
                    </div>
                </div>					
                <div id="info13" class="masInfo">
                    <p (click)="acordeon('#info13');">
                        <span>Recusandae</span>
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content" >
                        <p>
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis similique ipsam qui ea dolorem atque!
                        </p>
                    </div>
                </div>																									
            </div>  
        </div>
    </div>
</div>