<div appScroll class="contenedor condicional">
    <div class="titles">
        <div class="title-screen left-fade-in">
            <h1>La cultura</h1>
            <h2>del servicio</h2>
        </div>
        <div class="title-back right-fade-in">
            <h1>&nbsp;</h1>
            <h2>&nbsp;</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p>La <b>cultura del servicio</b> se define como la utilización de las mejores estrategias del recurso humano, técnico y tecnológico que permitan una adecuada y creciente relación e integración entre todos los agentes sociales comprometidos: personas, empresas y comunidades. Significa ayudar a otros, interesarse significativamente por los demás y donde todos salgan beneficiados.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10">&nbsp;</div>
        <div class="col-80">
            <img class="responsive fade-in-slow" src="assets/diapo3.png" alt="">
        </div>
    </div>
</div>