@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: Neue;
    src: url("src/assets/fonts/HelveticaNeue.ttf")
}

@font-face {
    font-family: NeueBold;
    src: url("src/assets/fonts/HelveticaNeuBold.ttf")
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url("src/assets/fonts/HelveticaNeueLight.ttf")
}

@font-face {
    font-family: HelveticaNeueThin;
    src: url("src/assets/fonts/HelveticaNeueThin.ttf")
}